<div class="header">
  <div class="profile">
    <div class="profile-left">
      <div class="avatar">
        <img src="../../assets/avatar.jpg" />
      </div>
    </div>
    <div class="profile-right">
      <div class="social">
        <a target="_blank" href="http://www.google.com"
          ><img src="../../assets/icons/008-linkedin.svg" />
        </a>
        <a target="_blank" href="http://www.google.com"
          ><img src="../../assets/icons/010-github.svg" />
        </a>
        <a target="_blank" href="http://www.google.com"
          ><img src="../../assets/icons/022-stack-overflow.svg"
        /></a>
        <a target="_blank" href="http://www.google.com"
          ><img src="../../assets/icons/003-twitter.svg" />
        </a>
        <a target="_blank" href="http://www.google.com"
          ><img src="../../assets/icons/002-instagram.svg" />
        </a>
        <a target="_blank" href="http://www.google.com"
          ><img src="../../assets/icons/032-gmail.svg" />
        </a>
        <a target="_blank" href="http://www.google.com"
          ><img src="../../assets/icons/027-discord.svg" />
        </a>
        <a target="_blank" href="http://www.google.com"
          ><img src="../../assets/icons/001-whatsapp.svg" />
        </a>
        <a target="_blank" href="http://www.google.com"
          ><img src="../../assets/icons/028-telegram.svg" />
        </a>
        <a target="_blank" href="http://www.google.com"
          ><img src="../../assets/icons/011-spotify.svg" />
        </a>
      </div>
      <div class="name">
        <b><h1>Rodrigo Dantas</h1></b>
      </div>
      <div class="title">
        <h4>Software Developer</h4>
        <h4>Tech Nerd</h4>
        <h4>Gamer</h4>
      </div>
    </div>
  </div>
</div>
